:root {
  --secondery-color: #404bbf;
  --header-color: #434455:
  --accent-color: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
.body {
  font-family: var(--primary-font);
  color: var(--header-color);
  font-style: normal;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  color: #2e2f42;
  text-decoration: none;
}
/*HEADER*/
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
.menu-link-cotact {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-link-cotact:hover,
.menu-link-cotact:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
/* HERO */
.hero {
  font-style: normal;
  background: #2e2f42;
  text-align: center;
}
.hero-text {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--secondery-color);
}
/* ABOUT US */
.main-about {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--header-color);
}
.link-team {
  background-color: #ffffff;
  text-align: center;
} 
.list-team {
  background-color: #ffffff;
}
/* NAVIGATION PAGE PORTFOLIO */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #f4f4fd;
  background-color: #4d5ae5;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list-works {
  text-align: center;
}
.menu-team {
  background-color: #f4f4fd;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.profession-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--header-color);
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.not-visibli {
  visibility: hidden;
}
