.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.list {
  list-style: none;
}
.link {
  color: #2e2f42;
  text-decoration: none;
}
/*haeder*/
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
/* HERO */
.main {
background: #2E2F42;
}
.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.main-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
cursor: pointer;
background-color: #4d5ae5;
}
.main-button:hover,
.main-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}
/* ABOUT US */


/* NAVIGATION PAGE PORTFOLIO */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #f4f4fd;
  background-color: #4d5ae5;
}
